body {
    background-color: #090A0C;
}

@font-face {
    font-family: Naej;
    src: url(./../media/fonts/Naej-Regular.otf);
}

.header-nav {
    margin-bottom: 50px;
}

#header-text {
    color: #80A251;
    font-size: 30px;
    font-family: Naej;
}

.header-link {
    color: #73b8f8;
    font-size: 30px;
    font-family: Naej
}

.nav-tabs-active-color {
    background-color: antiquewhite;
}

.footer-nav {
    margin-top: 50px;
}

#gameplay-viewer {
    height: 500px;
}

.game-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }