
.dash-btn {
    font-size: 24px;
    background-color: #de552b;
    font-family: Naej;
    border: none;
    
}

.dash-panel {
    background-color: #cabdbb;
    margin-top: 20px;
}

#display-roll {
    font-size: 50px;
    font-family: Naej;
    color: #80a251;
}